:root{
--blue: cornflowerblue;
--gray: grey;
}

* {
    box-sizing: border-box;
}

header {
display: flex;    
background-color: var(--gray);
color: var(--blue) ;
align-items: center;
max-height: 80px;
justify-content: space-between;
}

nav {
    display: flex;
    /* justify-content:space-between; */
}

header h1 {
    border: 1px solid --blue;
    background-color: var(--blue);
    color: var(--gray);
    justify-content: start; 
    padding-left: 3%;
    padding-right: 1%;
    }

nav ul {
justify-content: end;
flex-direction: row;
display: flex;
list-style-type: none;
font-size: 120%;
flex-wrap: wrap;
}
 
nav li {
    padding: 0 15px;
}

figure h1 {
    color: var(--blue);
    padding: 10px;
    display: flex;
    justify-content: right;
    align-items:;
}

span {
    border: var(--gray);
    background: var(--gray);
}

.cover {
    position: relative;
    text-align: center;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;  
}

Section {
    color: var(--blue);   
    display: flex;
    align-items: center;
    margin: 5% 0%;
}

h2 {
    display: flex;
    justify-content: start;
    margin: 5%; 
    padding-right: 5%;
}

h2 div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
div {
    border-left: 3px solid var(--blue);
    padding: 0% 1.75%;
}

p {
    margin: 3% 2%;
}

article { 
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    border-left: 3px solid var(--blue);
    justify-content: center;

}

.box {
    position: relative;
    margin: 2%;
    border: 5px solid royalblue;
}

button {
    position: absolute;
    bottom: 8px;
    left: 16px;
    border: solid var(--blue);
    background-color: var(--gray);
    color: var(--blue);
}

.big-block {
    max-width: 750px;
    max-height: 500px;
    display: flex;
    /* flex-shrink: 2 2; */
    /* not working right going to try this on the container not image? */
}

.small-blocks {
max-width: 335px;
max-height: 275px; 
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-between;
/* flex-shrink: 1 1; */
/* not doing what I want it to */
}

.big-shrink {
    display: flex;
    flex-shrink: 2;
}
/* 
.lil-shrink {
    display: flex;
    flex-shrink: 1; */
    /* shrink is compared to items in the smae container. */


section ul {
display: flex;
flex-direction:row;
border-left: 3px solid var(--blue);
margin-left: -60px;
}

section li {
    display: flex;
    list-style-type: none;
    padding: 0% 15%;
}

.spcing {
    padding: 0% 5%
}

#cm {
}

@media screen and (max-width 798px){ 
    #resize {
        text-align: center;
        flex-direction: column;
    }
    
    * {
        font-size: medium;
    }
}