:root{
--blue: cornflowerblue;
--gray: grey;
}

* {
    box-sizing: border-box;
}

header {
display: flex;    
background-color: var(--gray);
color: var(--blue) ;
align-items: center;
max-height: 80px; 
}

header h1 {
border: 1px solid --blue;
background-color: var(--blue);
color: var(--gray);
flex-direction: column;
justify-content: start;
padding-left: 3%;
padding-right: 1%;
}

nav {
    display: flex;
    justify-content: right;
}

nav ul {
justify-content: end;
flex-direction: row;
display: flex;
list-style-type: none;
font-size: 120%;
flex-wrap: wrap;
text-align: right;
}
 
nav li {

}